<ion-view view-title="Grenfell Disaster Information App">
  <ion-content>
    <h1>Counseling</h1>

    <ul class="list">
      <li class="item" style="white-space: inherit;" ng-click="showSupport1 = !showSupport1">
        NHS North West London Adult Community Mental Health Services
        <div>
          <form ng-show="showSupport1">
            <h3 style="white-space: inherit;">
              Telephone: 0800 0234 650<br>
              Email: cnw-tr.spa@nhs.net
            </h3>
          </form>
        </div>
      </li>


      <li class="item" style="white-space: inherit;" ng-click="showSupport2 = !showSupport2">
        Al Manaar - Muslim Cultural Heritage Centre
        <div>
          <form ng-show="showSupport2">
            <h3 style="white-space: inherit;">
              Al Manaar, in partnership with Inspirited Minds, are providing help, support and counselling. Text Leyla 07535 895 470<br><br>
              Muslim Counsellors/ Therapists and Imams available on 07951 152 786. They are providing immediate relief and support to families affected (Muslims and nonMuslims)<br><br>
              Gardens of Peace Muslim Cemetery provide professional bereavement support for families - 0203 468 7333 or info@mbss.org.uk

          </h3>
          </form>
        </div>
      </li>

      <li class="item" style="white-space: inherit;" ng-click="showSupport3 = !showSupport3">
        The Grenfell Muslim Response Unit
        <div>
          <form ng-show="showSupport3">
            <h3 style="white-space: inherit;">
              The Grenfell Muslim Response Unit is a coalition of 4 registered British Muslim charities (Muslim Aid, Human Appeal, National Zakat Foundation and Islamic Relief) providing relief and support to Muslim and non-Muslims) for victims and families of the Grenfell Tower fire and the surrounding estates:<br><br>
              Provision of cash grants for families after a needs assessment<br>
              Provision of supplies<br>
              Provision of therapists/doctors/translators when needed<br>
              Provision of legal representation<br>
              Provision of meals<br><br>
              Support hotline number: 0203 670 6004
            </h3>
          </form>
        </div>
      </li>

      <li class="item" style="white-space: inherit;" ng-click="showSupport4 = !showSupport4">
        Red Cross
        <div>
          <form ng-show="showSupport4">
            <h3 style="white-space: inherit;">
              A Red Cross helpline is in action to help give practical or emotional support to anyone who needs it and the capacity of this is being expanded to give people a central point of contact.
              <br><br>
              The number is 0800 458 9472 - available 24 hours.
            </h3>
          </form>
        </div>
      </li>

      <li class="item" style="white-space: inherit;" ng-click="showSupport5 = !showSupport5">
        Samaritans
        <div>
          <form ng-show="showSupport5">
            <h3 style="white-space: inherit;">
              Samaritans offers emotional support round the clock. Anyone can contact Samaritans in confidence at any time for free from any phone on 16 123 (even if you don't have credit on your mobile). This number will not show up on your phone bill.
              <br><br>
              Or you can text 07725 90 90 90 or email jo@samaritans.org or go to www.samaritans.org to find your nearest branch where you can talk to someone face to face.
            </h3>
          </form>
        </div>
      </li>

      <li class="item" style="white-space: inherit;" ng-click="showSupport6 = !showSupport6">
        Cruse Bereavement Care
        <div>
          <form ng-show="showSupport6">
            <h3 style="white-space: inherit;">
              Cruse Bereavement Care is a national charity for bereaved people in England, Wales and Northern Ireland. Cruse offers support to adults, young people and children when someone dies, whatever the circumstances. They offer face-to-face, telephone, email and website support.
              <br><br>
              Their free phone helpline is 0808 808 1677 and is open Monday to Friday 9:30am to 5pm (excluding bank holidays), with extended hours to 8pm on Tuesdays, Wednesdays and Thursdays. You can also email them on helpline@cruse.org.uk
            </h3>
          </form>
        </div>
      </li>


      <li class="item" style="white-space: inherit;" ng-click="showSupport7 = !showSupport7">
        SMART: St Mary Abbotts Rehabilitation and Training
        <div>
          <form ng-show="showSupport7">
            <h3 style="white-space: inherit;">
              SMART are open for anyone requiring emotional support. Drop in hours are Monday to Sunday 10am to 4pm, and Monday, Wednesday and Thursday 6pm to 9pm.
<br><br>
Phone: 0207 376 4668<br>
Email: info@smartlondon.org.uk<br>
Web: http://www.smartlondon.org.uk/<br>
</h3>
          </form>
        </div>
      </li>
      <li class="item" style="white-space: inherit;" ng-click="showSupport8 = !showSupport8">
        Acklam Village Healing Zone
        <div>
          <form ng-show="showSupport8">
            <h3 style="white-space: inherit;">
              Acklam Village Healing Zone - open to survivors and all the community, providing relaxation, yoga, meditation, reiki, art therapy, creative writing, sound therapy and more.
              <br><br>
              Email: info@leneaherew.com to find out more.<br>
              Address: 4-8 Acklam Road, W10 5TY  </h3>
          </form>
        </div>
      </li>
      <li class="item" style="white-space: inherit;" ng-click="showSupport9 = !showSupport9">
        Children's Respite and Healing
        <div>
          <form ng-show="showSupport9">
            <h3 style="white-space: inherit;">
              Kids on the Green - everyday until Friday 23rd June 13.00 - 19.00<br>
              A calm space for families, children and teens to come for free food, drink and arts and crafts at Norland Open Space, W11 4TQ.<br><br>
              All staff DBS checked, contact Zoe on 07904 808 347  </h3>
          </form>
        </div>
      </li>
      <li class="item" style="white-space: inherit;" ng-click="showSupport10 = !showSupport10">
        SANE
        <div>
          <form ng-show="showSupport10">
            <h3 style="white-space: inherit;">
                SANE works to improve the lives of everyone affected by mental illness. It has a helpline which offers support and information to callers throughout the UK. The site offers extensive literature on mental health subjects.
                <br><br>
                SANEline: 0845 767 8000<br>
                Website: www.sane.org.uk
                </h3>
          </form>
        </div>
      </li>


    </ul>


  </ion-content>
</ion-view>
