<ion-view view-title="Grenfell Disaster Information App">
  <ion-content>
    <h1>Local Events</h1>
    <h2>The Grove Resource Centre</h2>
<h3>The Grove Resource Centre, 1 – 9 St Marks Road, W11 1RG <br>
  Telephone: 020 7 221 0052 <br>
  http://www.peoplefirstinfo.org.uk/marketplace/cat/vendor/1533
</h3>
<h3>Every Monday – Saturday | 10:00 – 16:00 </h3>
<h3>Grove Day Service -  If you would like a safe and comfortable place to relax, the Grove Day Service is open to all those in the Grenfell community affected by the fire. The friendly experienced staff team are available for you to listen and support you get through this difficult time.
  </ion-content>
</ion-view>
