<ion-view view-title="Grenfell Disaster Information App">
  <ion-content>
    <h1>Housing</h1>
    <br>
    <h2>Westway Sports Centre</h2>
    <h3>https://www.everyoneactive.com/newsflash/shelter-available/</h3><br><br>
    <h2>Shelter London</h2>
    <h3>0344 515 1540 Opening hours have been extended to 8am to 8pm</h3><br><br>
    <h2>AirBnB</h2>
    <h3><a href="https://www.airbnb.co.uk/disaster/grenfelltower">https://www.airbnb.co.uk/disaster/grenfelltower</a></h3>
    <h4>All service fees are waived for those affected by the disaster and checking in between June 18, 2017 and July 09, 2017.</h4><br>
    <h2>Royal Borough of Kensington and Chelsea (Housing)</h2>
    <h3>Tel: 020 7361 3008</h3><br>
    <h2>Temporary accomadation for pets </h2>
    <h3>Battersea Dogs and Cats Home</h3>
    <h3>Anyone affected by the fire in London and needing temporary accommodation for their dogs or cats please contact
      Battersea Dogs and Cats Home on 020 7627 9217.
    </h3>


  </ion-content>
</ion-view>
