<ion-view view-title="Grenfell Disaster Information App">
  <ion-content>
    <h1>Legal</h1><br>
    <h2>North Kensington Law Centre:</h2>
    <h3>Address: Baseline Business Studios, Unit 15, Whitchurch Road, London, W11 4AT<br>
Telephone: 020 8969 7473<br>
Email: info@nklc.co.uk
</h3><br>

    <h2>Hodge Jones & Allen</h2>
    <h3>HJA has set up a free legal advice helpline for residents concerned about their housing.<br>
Telephone: 0808 274 9308</h3><br>

    <h2>University of Law</h2>

    <h3>The University of Law pro bono programme provides free legal advice to members of the public. <br>
  The advisers are postgraduate students who are training to become solicitors or barristers. <br>
  They are supervised by experienced lawyers.<br>
<a href="http://www.law.ac.uk/about/legal-advice-for-the-public/">http://www.law.ac.uk/about/legal-advice-for-the-public/</a>
</h3><br>

    <h2>Joint Council for the Welfare of Immigrants ( ALSO UNDOCUMENTED MIGRANTS )</h2>
    <h3>If you are in the United Kingdom without documentation and seek legal advice this service can assist.<br>
Telephone: 020 7553 7470  -  between 10am and 1pm on Mondays, Tuesdays and Thursdays.<br>
Website: <a href="https://www.jcwi.org.uk">https://www.jcwi.org.uk</a>
</h3><br>

    <h2>Citizens Advice Bureau:</h2>
    <h3>
Address: 2 Acklam Rd (on the corner of Portabello Road) London, W10 5QZ<br>
Telephone: 0300 330 1174
</h3><br>



  </ion-content>
</ion-view>
