<ion-view view-title="Grenfell Disaster Information App">
  <ion-content>

<h1>News / Updates</h1>
<div class="list card">
  <div class="item item-title" style="text-align:center;">
    <h3>Government begins inquest into Grenfell Tower Disaster</h3>
  </div>
  <div class="item item-body">
    <img class="full-image" src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2017/06/18/14/grenfelltowerfire.jpg"></img>
    <p>Government begins inquest into Grenfell Tower Disaster following massive... <a href="#">Click to read more</a></p>
  </div>
</div>
  </ion-content>
</ion-view>
