<ion-view view-title="Grenfell Disaster Information App">
  <ion-content>
    <h1>Medical</h1>

    <h2>NHS</h2>
    <h3>Telephone: 999 in Emergency - 111 in NON-EMERGENCY</h3><br>


    <h2>British Red Cross</h2>
    <h3>0800 4589472 </h3><br>

    <h2>Free Glasses For Grenfell Victims</h2>
    <h3>
      Specsavers 106 Uxbridge Road, Shepherd’s Bush, W12 8LR<br> Telephone: 0208 735 5890<br><br>
    	Specsavers 29 King’s Mall, Hammersmith, W6 0PZ<br>Telephone: 0208 748 3233<br><br>
    	Optical Express (1st floor)  Westfield Shopping Centre, W12 7GF <br> Telephone: 020 7968 0909<br><br>
    	Vision Express (ground floor) Westfield Shopping Centre, W12 7GF <br> Telephone: 020 7968 0909<br><br>
    	Boots opticians (ground floor) Westfield Shopping Centre, W12 7GF <br> Telephone: 020 020 7968 020 020 7968<br>
    </h3><br>

    <h2>Medical treatment for pets </h2>
    <h3>Blue Cross</h3>
<h3>If your pet needs treatment or fostering, Blue Cross animal hospitals can help.<br>
Victoria (central London) -<br> Telephone: 0300 777 1890<br>
Hammersmith (west London) -<br> Telephone: 0300 777 1800<br>
Merton (south London) -<br> Telephone: 0300 777 1810
</h3>
  </ion-content>
</ion-view>
