<ion-view view-title="Grenfell Disaster Information App">
<ion-content>
    <h1>Money</h1>

    <ul class="list">
      <li class="item" style="white-space: inherit;" ng-click="showSupport1 = !showSupport1">
        Government Support
        <div>
          <form ng-show="showSupport1">
            <h3 style="white-space: inherit;">The Government has announced that every household destroyed by the fire will receive a guaranteed £5,500 initial emergency payment from the £5 million discretionary fund.<br><br>
            This will consist of a £500 cash payment and £5,000 delivered through the Department for Work and Pensions (DWP) into bank accounts, or similar, in a single payment.<br><br>
            Known residents of Grenfell Tower have been given a letter by the DWP explaining how to access this funding. <br><br>
            Those with this letter can now take it to the Post Office on Portobello Road to access the £500 emergency cash grant and make arrangements for the larger £5,000 grant.Those who have not yet received their letter can collect it from the assistance centre located at the Westway Sports Centre.
        </h3>
          </form>
        </div>
      </li>
      <li class="item" style="white-space: inherit;" ng-click="showSupport2 = !showSupport2">
        Charitable Grants
        <div>
          <form ng-show="showSupport2">
            <h3 style="white-space: inherit;">
              The British Red Cross, K&C Foundation and the London Community Foundation have come together (as of 23 June) to make money available immediately to those affected.
              <br><br>
              Funds will be distributed through the London Emergencies Trust, a charity set up following the Westminster Bridge attack this year to support the victims of emergencies.
              <br><br>
              Every family who lost someone in the Grenfell fire is to receive £20,000. <br><br>
              Those seriously injured will receive £10,000 and there will be a further £10,000 fresh start grant to every family who has been made homeless.<br><br>
              The funds are available and as soon as details of the victims are received from the authorities they will be released. <br><br>
              People who are eligible to receive these payments should call the Red Cross helpline on:<br>0800 458 9472. <br><br>
              The funds will help to meet the immediate need. More charitable funds will be distributed over the coming weeks and months.
            </h3>
          </form>
        </div>
      </li>
      <li class="item" style="white-space: inherit;" ng-click="showSupport3 = !showSupport3">
        Benefits
        <div>
          <form ng-show="showSupport3">
            <h3 style="white-space: inherit;">
              The government has set up a dedicated benefit enquiry line for people affected by the fire at Grenfell Tower. The following numbers will be manned between 8am and 6.30pm, Monday to Friday:
              <br><br>
              <a href="tel:020 7941 6661">020 7941 6661</a> <br>
              <a href="tel:020 7941 6634">020 7941 6634</a> <br>
              <a href="tel:020 7941 6671">020 7941 6671</a>
            </h3>
          </form>
        </div>

      </li>
      <li class="item"  style="white-space: inherit;" ng-click="showSupport4 = !showSupport4">
        Banking Hotlines
        <div>
          <form ng-show="showSupport4">
            <h3 style="white-space: inherit;">
            Banks hotlines for Grenfell Tower victims

              <br><br>
              Bank of Scotland: <a href="tel:0345 721 3141">0345 721 3141</a><br>
              Barclays: <a href="0345 734 5345">0345 734 5345</a><br>
              Co-op: <a href="03457 212212">03457 212212</a><br>
              Halifax: <a href="0345 720 3040">0345 720 3040</a><br>
              HSBC: dedicated support line on <a href="03456 092527">03456 092527</a><br>
              Lloyds: <a href="0345 300 0000">0345 300 0000</a><br>
              NatWest: <a href="0161 451 0217">0161 451 0217</a><br>
              Nationwide: <a href="0800 917 23 93">0800 917 23 93</a><br>
              Royal Bank of Scotland: <a href="0161 451 0218">0161 451 0218</a><br>
              Santander: <a href="0800 0156 382">0800 0156 382</a>
            </h3>
          </form>
        </div>
      </li>

    </ul>

  </ion-content>
</ion-view>
