<ion-view view-title="Money">
  <ion-content>
    <h1>Money</h1>

    <ul class="list">
      <li class="item" style="white-space: inherit;" ng-click="showSupport1 = !showSupport1">
        Government Support
        <div>
          <form ng-show="showSupport1">
            <h3 style="white-space: inherit;">The Government has announced that every household destroyed by the fire will receive a guaranteed £5,500 initial emergency payment from the £5 million discretionary fund.
            This will consist of a £500 cash payment and £5,000 delivered through the Department for Work and Pensions (DWP) into bank accounts, or similar, in a single payment.
            Known residents of Grenfell Tower have been given a letter by the DWP explaining how to access this funding. Those with this letter can now take it to the Post Office on Portobello Road to access the £500 emergency cash grant and make arrangements for the larger £5,000 grant.Those who have not yet received their letter can collect it from the assistance centre located at the Westway Sports Centre.
        </h3>
          </form>
        </div>
      </li>
      <li class="item" style="white-space: inherit;" ng-click="showSupport2 = !showSupport2">
        Charitable Grants
        <div>
          <form ng-show="showSupport2">
            <h3 style="white-space: inherit;">
              The British Red Cross, K&C Foundation and the London Community Foundation have come together (as of 23 June) to make money available immediately to those affected. Funds will be distributed through the London Emergencies Trust, a charity set up following
              the Westminster Bridge attack this year to support the victims of emergencies. Every family who lost someone in the Grenfell fire is to receive £20,000. Those seriously injured will receive £10,000 and there will be a further £10,000 fresh start grant
              to every family who has been made homeless. The funds are available and as soon as details of the victims are received from the authorities they will be released. People who are eligible to receive these payments should call the Red Cross helpline on
              0800 458 9472. The funds will help to meet the immediate need. More charitable funds will be distributed over the coming weeks and months.
            </h3>
          </form>
        </div>
      </li>
      <li class="item" ng-click="showSupport3 = !showSupport3">
        Benefits
        <div>
          <form ng-show="showSupport3">
            <h3 style="white-space: inherit;">
              The government has set up a dedicated benefit enquiry line for people affected by the fire at Grenfell Tower. The following numbers will be manned between 8am and 6.30pm, Monday to Friday:
              <br><br>
              020 7941 6661 <br>
              020 7941 6634 <br>
              020 7941 6671
            </h3>
          </form>
        </div>

      </li>
      <li class="item" ng-click="showSupport4 = !showSupport4">
        Banking Hotlines
        <div>
          <form ng-show="showSupport4">
            <h3 style="white-space: inherit;">
              Banking hotlines and information for bank customers affected by the fire: https://www.bba.org.uk/news/press-releases/banks-offer-help-to-grenfell-tower-victims/#.WU6NFhPyv-Y
              <br><br>
              <h4>Banks offering help to Grenfell Tower victims</h4>
              <br><br>
              Bank of Scotland: 0345 721 3141<br>
              Barclays: 0345 734 5345<br>
              Co-op: 03457 212212<br>
              Halifax: 0345 720 3040<br>
              HSBC: dedicated support line on 03456 092527<br>
              Lloyds: 0345 300 0000<br>
              NatWest: 0161 451 0217<br>
              Nationwide: 0800 917 23 93<br>
              Royal Bank of Scotland: 0161 451 0218<br>
              Santander: 0800 0156 382

            </h3>
#          </form>
        </div>
      </li>

    </ul>

  </ion-content>
</ion-view>
